
  html body {
    height: 0%;
    text-align: justify;
  }  

  body {
    background: white url(WidgetCoLogo.gif) center no-repeat;
}
  
div.release {
  border-width: 1px 15px 1px 0;
  text-align: center;
}
  
  h1 {
      font-size: 40px;
      font-family: 'Times New Roman', Times, serif;
      text-align: left;
      margin: none;
      padding: 30px;
      
    }

  p {
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}

  h2 {
    font-size: 26px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: none;
  }

  header {
    padding: 0px;
    top: 0%;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 300px;
    padding-right: 300px;
    border-bottom:1px solid #000000;
    padding-bottom:3px;
    border-top: 1px solid #000000;
    padding-top: 3px;
    font-variant: small-caps;
    border-right: 15px solid black;
  }

  aside {
    float: right;
    text-align: right;
    margin: 10px;
    border-right: 15px solid rgb(102, 60, 111);
    padding-right: 15px;
    padding-top: 10px;
}

  footer {
    color: #8a8a8a;
    bottom: 0%;
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 3px;
    border-top: 1px solid #8a8a8a;
    padding-top: 3px;
    padding-right: 50px;
}

  section {
    background-color:beige;
    padding: 20px;
    margin-bottom: 0px;
    padding-left: 20px;
    display: inline-block;
    border: 2px solid rgb(102, 60, 111);
    padding: 10px;
    border-left: 30px solid rgb(102, 60, 111);
    margin-bottom: 50px;
  }
  

  aside:first-line {
    font-weight: bold;
  }

  footer a:link {
    color: #8a8a8a;
    align-items: center;

  }
