
  html body {
    margin-left: 375px;
    margin-right: 375px;
    height: 0%;
    text-align: justify;
  }  

  body {
    background-image: url("images/WidgetCoLogo.gif");
  }

  
  h1 {
      font-size: 40px;
      font-family: 'Times New Roman', Times, serif;
      text-align: left;
      margin: none;
      padding: 30px;
      margin-left: -130px;
      
    }

  h2 {
    font-size: 26px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: none;
  }

  header {
    padding: 0px;
    position: fixed;
    top: 0%;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 300px;
    padding-right: 300px;
    border-bottom:1px solid #000000;
    padding-bottom:3px;
    border-top: 1px solid #000000;
    padding-top: 3px;
    font-variant: small-caps;
    border-right: 15px solid black;
    margin: 0px 100px 0px -100px;
    width: 25%;
  }

  aside {
    float: right;
    position: fi;
    width: 250px;
    text-align: right;
    margin: 10px;
    border-right: 15px solid rgb(36, 36, 93);
    padding-right: 15px;
    padding-top: 10px;
    margin-right: -118px;
    margin-top: -2px;
}

  footer {
    color: #8a8a8a;
    position: fixed;
    bottom: 0%;
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 3px;
    border-top: 1px solid #8a8a8a;
    padding-top: 3px;
    padding-right: 50px;
    margin: 0px 0px 0px -100px;
}

  section {
    background-color:beige;
    padding: 20px;
    margin-bottom: 0px;
    padding-left: 20px;
    display: inline-block;
    border: 2px solid green;
    padding: 10px;
    border-left: 30px solid green;
    margin-bottom: 50px;
  }
  

  aside:first-line {
    font-weight: bold;
  }

  footer a:link {
    color: #8a8a8a;
    align-items: center;

  }
