
  html body {
    text-align: justify;
  }  

  body {
    background: white url(WidgetCoLogo.gif) center no-repeat;
    
}
  
div.release {
  border-width: 1px 15px 1px 0;
  text-align: center;
}
  
  h1 {
      font-size: 40px;
      font-family: 'Times New Roman', Times, serif;
      text-align: left;
      margin-left: 20%;
      margin-right: 35%;
      
    }

  p {
    margin-left: 27%;
    margin-right: 27%;
    text-align: justify;
}

  h2 {
    font-size: 23px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-left: 27%;
    margin-right: 27%;
    margin-top: 3%;
  }

  header {
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    border-bottom:1px solid #000000;
    padding-bottom:3px;
    border-top: 1px solid #000000;
    padding-top: 3px;
    font-variant: small-caps;
    border-right: 15px solid black;
    margin-right: 20%;
    margin-left: 20%;
  }

  aside {
    float: right;
    text-align: right;
    border-right: 15px solid rgb(102, 60, 111);
    padding-right: 15px;
    padding-top: 5px;
    margin-right: 20%;
    font-size: smaller;
}

  footer {
    color: #8a8a8a;
    text-align: right;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    border-top: 1px solid #8a8a8a;
    padding-top: 3px;
    margin-left: 20%;
    margin-right: 20%;
}

  section {
    background-color:beige;
    margin-left: 27%;
    margin-right: 27%;
    margin-bottom: 2%;
    display: inline-block;
    border: 2px solid rgb(102, 60, 111);
    padding: 5px;
    border-left: 30px solid rgb(102, 60, 111);
  }
  
  aside:first-line {
    font-weight: bold;
  }

  footer a:link {
    color: #8a8a8a;
    align-items: center;

  }
